@using Clase3_Entidades
@model List<Herramienta>

@{
}

<h1>Lista de Herramientas</h1>


<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Descripcion</th>
            <th>Precio</th>
            <th>Stock</th>
            <th>Imagen</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var herramienta in Model)
        {
            <tr>
                <td>@herramienta.Id</td>
                <td>@herramienta.Nombre</td>
                <td>@herramienta.Nombre</td>
                <td>@herramienta.Precio.ToString("C")</td>
                <td>@herramienta.CantidadEnStock</td>
                <td><img src="@herramienta.Imagen" style="width:100px;height:100px:" /></td>
                <td>
                    <button type="button" class="btn btn-primary btn-sm" onclick="openEditModal(@herramienta.Id)">Editar</button>
                    <a asp-action="Delete" asp-route-id="@herramienta.Id" class="btn btn-danger btn-sm">Eliminar</a>
                </td>
            </tr>
        }
        <div id="editModalContainer"></div>

        @section Scripts {
            <script>
                function openEditModal(id) {
                    fetch('/Herramientas/Edit/' + id)
                        .then(response => response.text())
                        .then(html => {
                            document.getElementById('editModalContainer').innerHTML = html;
                            // Bootstrap 5 modal
                            var modal = new bootstrap.Modal(document.getElementById('editHerramientaModal'));
                            modal.show();
                        });
                }
            </script>
        }
    </tbody>
</table>
